#middleSchool, #highSchool, #college {
	height: 200px;
}

a:link {
	color: black;
	text-decoration: none;
}

a:visited {
	color: black;
	text-decoration: none;
}

a:hover {
	color: black;
	/*text-decoration: none;*/
}

a:active {
	color: black;
	text-decoration: none;
}


body {
	background-color: #D8D8D8;
}

h1 a {
	font-family: 'Alegreya Sans SC', sans-serif;
	color: red;
	font-size: 60px;
}

h2, h3, h4, h5, h6 {
	font-family: 'Alegreya Sans SC', sans-serif;
	font-size: 60px;
	padding-bottom: 25px;
}

.row {
	font-size: 25px;
	font-family: 'Josefin Sans', sans-serif;
}

h2 {
	color: orange;
}

.school a:hover {
	text-decoration-color: orange;
}

h3 {
	color: purple;
}

h4 {
	color: blue;
}

h5 {
	color: yellow;
}

h6 {
	color: green;
}

.github-corner:hover .octo-arm{animation:octocat-wave 560ms ease-in-out}


@keyframes octocat-wave{0%,100%{transform:rotate(0)}20%,60%{transform:rotate(-25deg)}40%,80%{transform:rotate(10deg)}}

@media (max-width:500px){.github-corner:hover .octo-arm{animation:none}.github-corner .octo-arm{animation:octocat-wave 560ms ease-in-out}}

th {
	padding-left: 10%;
}

/*table {
	padding-top: 25px;
}*/

.checkbox {
	height: 200px;
}

#art, #science, #music, #math, #sports, #games, #fashion, #travel, #food {
	display: block;
	text-align: center;
	font-size: 20px;
}

#pdfbutton {
	text-align: center;
	font-family: 'Alegreya Sans SC', sans-serif;
	font-size: 15px;
	color: black;
	border-style: dotted;
	border-color: yellow;
}

/** Bouncing Arrow Properties Thanks https://codepen.io/designer_guru/pen/JhyeH **/

.arrow {
  position: fixed;
  bottom: 20px;
  left: 50%;
  margin-left:-20px;
}

.bounce {
	-webkit-animation-name: bounce;
	-moz-animation-name: bounce;
	-o-animation-name: bounce;
	animation-name: bounce;
}

.animated{-webkit-animation-fill-mode:both;
-moz-animation-fill-mode:both;
-ms-animation-fill-mode:both;
-o-animation-fill-mode:both;

            animation-iteration-count: infinite;
       -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;

animation-fill-mode:both;
-webkit-animation-duration:2s;
-moz-animation-duration:2s;
-ms-animation-duration:2s;
-o-animation-duration:2s;
animation-duration:2s;
}


@-webkit-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}	40% {-webkit-transform: translateY(-30px);}
	60% {-webkit-transform: translateY(-15px);}
}

@-moz-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
	40% {-moz-transform: translateY(-30px);}
	60% {-moz-transform: translateY(-15px);}
}

@-o-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
	40% {-o-transform: translateY(-30px);}
	60% {-o-transform: translateY(-15px);}
}
@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}
