body {
    background-color: #fff;
}

li {
	display: inline-block;
	float: none;
	padding-right: 10px;
}

.menu {
	display: inline;
	vertical-align: middle;
}

h1, h2, h3, h4, h5, h6 {
	  padding-top: 30px;
    font-family: 'Dancing Script', cursive;
    font-size: 70px;
    padding-bottom: 45px;
		color: black;
}

h1 {
	color: #B81365 !important;
}

.row {
    font-size: 25px;
    font-family: 'Josefin Sans', sans-serif;
}

.arrow {
	text-align: center;
	bottom: 20px;
}

.social-media a:link {
    color: black;
    text-decoration: none;
}

.social-media a:visited {
    color: black;
    text-decoration: none;
}

.social-media a:hover {
    color: #B81365;
    text-decoration: none;
}

.social-media a:active {
    color: black;
    text-decoration: none;
}

.intro {
	padding-bottom: 35px;
}

th {
    padding: 10px;
}

.radio {
	padding-bottom: 50px;

}

.checkbox {
	padding-bottom: 50px;
}

input[type=checkbox] {
   display: none;
}

input[type=radio] {
   display: none;
}

.radio-toolbar input[type="radio"] {
    display:none;
}

.radio-toolbar label {
    display:inline-block;
    background-color:#D8D8D8;
    /*padding:4px 11px;
    font-family:Arial;
    font-size:16px;*/
}

.radio-toolbar input[type="radio"]:checked + label {
    color:#86b3c1;
}

input[type=checkbox]:checked {
	color: white;
	background: #86b3c1;
}

#art, #science, #music, #math, #sports, #games, #fashion, #travel, #food {
    display: block;
    text-align: center;
    font-size: 20px;
}

#pdfbutton {
    text-align: center;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 15px;
    color: black;
    border-style: dotted;
    border-color: yellow;
}
